
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI',sans-serif;
    /* line-height: 1.6; */
    background-color: #f4f4f4;

}
body.dark-theme{
    background-color: #121212;
}

body a{
    color: blue;
}

nav{
    position: sticky;
    top: 0;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 3;
}
body.dark-theme nav{
    background-color: #121212;
    color: white;
    box-shadow: 0 2px 5px rgb(255, 255, 255);
}

nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul button{
    border: none;
    padding: 5px;
    border-radius: 5px;
    background-color: #007bff;
}
nav ul button a{
    color: white;
}

button:nth-child(6){
    color: white;
    font-weight: bold;
}

nav ul button:hover{
    background-color: #0056b3;
    color: white;
    transition: 0.3s ease;
}

nav a{
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

nav li a:hover{
    color: #0056b3;
    transition: 0.3s ease;
}

header{
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 60px 20px;
}

header h2{
    font-size: 2em;
}

header p{
    font-size: 1.2em;
    margin-top: 10px;
}

section{
    padding: 40px 20px;
    max-width: 900px;
    margin: auto;
}

section h3{
    margin-bottom: 10px;
    color: #007bff;
}

#projects video{
    width:200px;
    margin:30px;
}

.about{
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    margin-top: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1)
}
body.dark-theme .about{
    background-color: #121212;
    color: white;
    box-shadow: 0 2px 5px rgba(255, 255, 255,1)
}

.about img{
    width: 25%;
    position: relative;
    left: 37%; 
    z-index: 2;
    border-radius: 8px;
    border: 1px solid black;
}

.project-card{
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1)
}
body.dark-theme .project-card{
   background-color: #1212;
   color: white;
   box-shadow: 0 2px 5px rgba(255, 255, 255, 1) ;
}

.contact-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}
body.dark-theme .contact-form{
    color: white;
}

.contact-form input, .contact-form textarea{
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1em;
}
body.dark-theme .contact-form input{
    background-color: #121212;
    color: white;
}
body.dark-theme .contact-form textarea{
    background-color: #121212;
    color: white;
}

.contact-form button{
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    font-size: 1em;
    border-radius: 6px;
    cursor: pointer;
}
.contact-form button:hover{
    background-color: #0056b3;
}


.skills{
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1)
}
body.dark-theme .skills{
    background-color: #121212;
    box-shadow: 0 2px 5px rgb(255, 255, 255);
    color: white;
}

.social-links{
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);   
}
body.dark-theme .social-links{
    background-color: #121212;
    box-shadow: 0 2px 5px rgb(255, 255, 255);
    color: white;
}

.cta{
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    margin-top: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1)   
}
body.dark-theme .cta{
    background-color: #121212;
    box-shadow: 0 2px 5px rgb(255, 255, 255);
    color: white;
}

.cta-cv{
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    margin-top: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1)    
}
body.dark-theme .cta-cv{
    background-color: #121212;
    box-shadow: 0 2px 5px rgb(255, 255, 255);
    color: white;
}

.skill-bar{
    width: 100%;
    background-color: #dcdcdc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.progress{
    background-color: #00bcd4;
    height: 20px;
    color: white;
    text-align: center;
    padding-right: 5px;   
    border-radius: 5px;
}
body.dark-theme .progress{
    background-color: #0056b3;
    color: #121212;
}

.html{
    width: 95%;
}
.css{
    width: 90%;
}
.javascript{
    width: 40%;
}
.graphic-d{
    width: 80%;
}
.vid-e{
    width: 80%;
}
.team-work{
    width: 75%;
}
.communication{
    width: 85%;
}
.vs-code{
    width: 95%;
}
.xampp{
    width: 55%;
}

.kali{
    width: 35%;
}

.cpp{
    width: 35%;
}

.python{
    width: 40%;
}

.photoshop{
    width: 60%;
}

.hobbies{
background-color: white;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1)
}
body.dark-theme .hobbies{
    background-color: #121212;
    color: white;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 1)
}
.hobbies ul li{
    margin-left: 10px; 
}

footer{
    margin-top: 20px;
    text-align: center;
    padding: 20px;
    background-color: #ddd;
    font-size: 0.9em;
}
body.dark-theme footer{
    background-color: #1d1c1c;
    color: white;
    box-shadow: 0 -2px 5px rgba(255, 255, 255, 1);
}
@media (max-width:768px){
    nav ul{
        flex-direction: column;
        gap: 10px;
        
    }
    header h2{
        font-size: 1.5em;
    }
}